# Dependencies
node_modules
yarn.lock

# Build
dist
*.log

# Cloudflare
.wrangler/
.dev.vars
.mf/

# Environment
.env
.env.local
.env.*.local

# Testing
coverage
.nyc_output

# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/

.npmrc

.dev.vars